$mikadoYellow: #FFC20C;

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

.fade-enter {
  opacity: 0.01;
  margin:0;
  background-color: transparent;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: all 500ms ease-in;

}

.transition-group {
  position: relative;

}
.route-section {
  position: relative;
}

.wrapper-list {
  margin: auto;
}

.wrapper-page-home {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center 
}
  .wrapper-home-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    width: 100%;
   }

    .home-text, .home-text-sub {
      font-size: 45px;
      color: rgb(255, 224, 158);
      margin: 1rem;
    }
    .home-text {
      font-size: 55px;

      color: rgb(248, 210, 129);
      font-weight: 900;
    }

.home-fade-enter {
  height: 0vh;
}

.home-fade-enter-active {
  transition: all 500ms ease-in;
  height: 100vh;
}

.home-fade-exit{
  height: 0vh;
}

.home-fade-exit-active {
  height: 0vh;
  transition: all 500ms ease-in;
}





.list  {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  margin:1rem;


  a {
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(248, 210, 129);
    transition: all, .2s ease-in;
  }

  a:hover {
    color: grey;
    border-bottom: 3px solid rgb(248, 210, 129);
  }
}


.about-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 50vh;
  text-align: center;
}
.about-p {
  font-size: 30px;
  color: rgb(248, 210, 129);
  line-height: 150%;
  transform: translateY(10%)
}
.wrapper-main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.yellow {
  color: grey;

}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 5rem 5rem;
  grid-gap: 2rem;
  background-color: transparent;
}

.tile {
  display: flex;
  flex-direction: column;
  transition: all, .5s ease-in-out;
  box-shadow: 2px 2px 2px grey;

}

.tile:hover {
  transform: scale(1.1)
}

.tile-title {
  height: 5%;
  margin-top: 0;
  text-decoration: none;
  text-align: left;
}

.tile-stats {
  background-color: rgb(255, 255, 255);
  color: $mikadoYellow;
  margin-top: 10%;
}
canvas {
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.inactive {
opacity: 0;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 4rem;
  width: 100vw;
}

.logo-contacts {
  text-decoration: none;
  list-style: none;
  width: 4%;
  transition: all, .3s ease-in;
  margin: 1vh;
  box-shadow: 1px 1px 2px $mikadoYellow;
  border-radius: 50%;
  padding: 5px;
}

.logo-contacts:hover {
  transform: scale(1.4);  
  box-shadow: none;

}